@mixin font($font_name, $file_name, $weight, $style) {

@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
	font-weight: #{$weight};
	font-style: #{$style};
 }
}

@import "fonts.scss";
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing:border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
}

.container {
	max-width: 1110px;
	margin: 0px auto;
}
@import "_header.scss";


@import "_footer.scss";